In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('data/labels.csv')

In [31]:
#exploring the dataset
df.shape
df.head(50)

   MachineId  MeasurementId PumpFailed SlowStart SlowEnd
0      0_0_0              0      False     False   False
1      0_0_1             -1        NaN       NaN     NaN
2      0_0_2              0      False     False   False
3      0_0_3              0       True     False   False
4      0_1_0             -1        NaN       NaN     NaN
5      0_1_1              1       True     False   False
6      0_1_2             -1        NaN       NaN     NaN
7      0_1_3             -1        NaN       NaN     NaN
8      1_0_0              2      False      True   False
9      1_0_1             -1        NaN       NaN     NaN
10     1_0_2             -1        NaN       NaN     NaN
11     1_0_3             -1        NaN       NaN     NaN
12     0_2_0             -1        NaN       NaN     NaN
13     0_2_1             -1        NaN       NaN     NaN
14     0_2_2             -1        NaN       NaN     NaN
15     0_2_3             -1        NaN       NaN     NaN
16     2_2_0              3      False     False   False
17     2_2_1             -1        NaN       NaN     NaN
18     2_2_2              3       True     False   False
19     2_2_3             -1        NaN       NaN     NaN
20     1_2_0              4      False     False   False
21     1_2_1              4      False     False    True
22     1_2_2              4       True     False   False
23     1_2_3             -1        NaN       NaN     NaN
24     3_0_0             -1        NaN       NaN     NaN
25     3_0_1              5      False     False   False
26     3_0_2              5      False      True   False
27     3_0_3              5      False     False   False
28     0_1_1              6       True     False   False
29     0_1_2              6      False     False    True
30     0_1_3              6      False     False   False
31     0_1_1              7       True     False   False
32     0_1_3              7       True     False   False
33     0_0_0             -1        NaN       NaN     NaN
34     0_0_2              8      False     False    True
35     0_0_3             -1        NaN       NaN     NaN
36     0_2_2              9       True     False   False
37     1_2_0             -1        NaN       NaN     NaN
38     1_2_1             10      False     False   False
39     1_2_2             10       True     False   False
40     0_1_1             -1        NaN       NaN     NaN
41     0_1_2             11      False     False    True
42     0_1_3             11      False     False   False
43     1_2_0             12      False     False   False
44     1_2_1             12      False     False   False
45     1_2_2             12       True     False   False
46     1_2_3             12      False     False    True
47     0_1_1             13      False     False   False
48     0_1_2             13      False     False    True
49     2_2_0             -1        NaN       NaN     NaN

In [55]:
df_parquet = pd.read_parquet('data/data.parquet')

ImportError: Unable to find a usable engine; tried using: 'pyarrow', 'fastparquet'.
A suitable version of pyarrow or fastparquet is required for parquet support.
Trying to import the above resulted in these errors:
 - Missing optional dependency 'pyarrow'. pyarrow is required for parquet support. Use pip or conda to install pyarrow.
 - Missing optional dependency 'fastparquet'. fastparquet is required for parquet support. Use pip or conda to install fastparquet.

In [22]:
df.describe()

       MeasurementId
count   27385.000000
mean     4680.456892
std      2537.209566
min        -1.000000
25%      2606.000000
50%      4783.000000
75%      6909.000000
max      8834.000000

In [39]:
#we can see that dataset contains a lot of NaN which are not really usefull for use. We cant really extrapolate what
#value should be there by some distribution because when the whole row is NaN the measurement_id is -1 which holds
#no usefull information for training

df = df.dropna()
df.shape
df.head(10)

   MachineId  MeasurementId PumpFailed SlowStart SlowEnd
0      0_0_0              0      False     False   False
2      0_0_2              0      False     False   False
3      0_0_3              0       True     False   False
5      0_1_1              1       True     False   False
8      1_0_0              2      False      True   False
16     2_2_0              3      False     False   False
18     2_2_2              3       True     False   False
20     1_2_0              4      False     False   False
21     1_2_1              4      False     False    True
22     1_2_2              4       True     False   False

In [53]:
import sklearn
import numpy as np

df_transformation = sklearn.pipeline.Pipeline([
                ("preprocess", sklearn.compose.ColumnTransformer([
                    #("onehot", sklearn.preprocessing.OneHotEncoder(handle_unknown="ignore"), ["MeasurementId"]),
                    ("categorical", sklearn.preprocessing.OrdinalEncoder(categories=[[False, True],[False, True],[False, True]]),
                     ["PumpFailed","SlowStart","SlowEnd"] ),
                ]))
            ])

transformed_array = df_transformation.fit_transform(df)

dense_array = transformed_array.toarray()


print(dense_array)

AttributeError: 'numpy.ndarray' object has no attribute 'toarray'

In [49]:
import matplotlib.pyplot as plt

In [19]:
#plt.imshow(df, cmap='hot', interpolation='nearest')